//- 
  Copyright 2015 F-Spexet (http://f-spexet.se)
  Author: Emil Hemdal (GitHub: @emilhem)
  License: MIT License (see LICENSE for full license)

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    block title
      title='F-Spexet 2016'
    block styles
      link(rel="stylesheet" href="style.css")
  body
    block content
    div.row
      div.large-12.columns
        p.center &copy; Copyright F-Spexet
          br
          | Design av 
          a(href='http://emil.hemdal.se/') Emil Hemdal
          br
          | Webmaster: 
          a(href='mailto:media@f-spexet.se') media@f-spexet.se