//- 
  Copyright 2015 F-Spexet (http://f-spexet.se)
  Author: Emil Hemdal (GitHub: @emilhem)
  License: MIT License (see LICENSE for full license)

extends ../base.jade

block title
  title F-spexet | 404 - sida ej funnen!

block content
  h1 404
  hr
  p Sidan kunde inte hittas!