//- 
  Copyright 2015 F-Spexet (http://f-spexet.se)
  Author: Emil Hemdal (GitHub: @emilhem)
  License: MIT License (see LICENSE for full license)

extends ../base.jade

block title
  title F-spexet | Sidfel!

block content
  h1 50x
  hr
  p Något gick snett!